<h1>estas en listado de tiendas</h1>

<div class="containter">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <figure id="storesMap"></figure>
            <a href="/" class="btn btn-dark">Inicio</a>
        </div>
    </div>
</div>


{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/stores-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxQfr-VaQqyOGCylf9PbMafybyjxJzVIU&callback=initApp"></script>