<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Añadir nueva tienda:</h1>

            <form action="/tiendas/crear-tienda" method="POST">
                <div class='form-group'>
                    <label for='name'>Nombre:</label>
                    <input name='name' type='text' class='form-control' id='name'>
                </div>
                <div class='form-group'>
                    <label for='direction'>Dirección:</label>
                    <input name='direction' type='text' class='form-control' id='direction'>
                </div>
                <div class="form-group">
                    <label for="location-input">Ubicación</label>
                    <input name="latitude" type="text" class="form-control" id="location-input"
                        placeholder="latitud"><br>
                    <input name="longitude" type="text" class="form-control" id="location-input" placeholder="longitud">
                </div>
                <button type='submit' class='btn btn-dark btn-block'>Enviar</button>
                {{#if errorMsg}}
                <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
                    {{errorMsg}}</p>
                {{/if}}
            </form>
        </div>
    </div>
</div>