<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class='navbar navbar-expand-lg fixed-top'>
    <a class='navbar-brand' href='/'>
      
        <img src="https://res.cloudinary.com/drapkr7kb/image/upload/v1606404784/fotos-plantas/logo-nav_m9gqzd.png"
          alt="logo">
     
    </a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'><img src="https://res.cloudinary.com/drapkr7kb/image/upload/v1606410120/fotos-plantas/menu_pknouh.png" alt="menu"></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='/'>Inicio</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/plantas'>Plantas</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/tiendas'>Tiendas</a>
        </li>
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="https://res.cloudinary.com/drapkr7kb/image/upload/v1606298985/fotos-plantas/user-plant_ifjplr.png"
              alt="User" class="icon-user">Perfil</a>
          <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarDropdownMenuLink">
            <a class='dropdown-item' href='/perfil'><i class="junle-user"></i>Mi Perfil</a>
            <a class='dropdown-item' href='/iniciar-sesion'>Iniciar sesión</a>
            <a class='dropdown-item' href='/registro'>Registro</a>
            <a class='dropdown-item' href='/cerrar-sesion'>Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <script src="/javascripts/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>