
{{#if isAdmin}}
<a href="/editar-perfil?id={{user.id}}" class="btn btn-sm btn-dark">Editar Perfil</a>
<a href="/eliminar-perfil?id={{user.id}}" class="btn btn-sm btn-dark">Eliminar Perfil</a>
 {{/if}}
<h1>Estas en tu perfil {{user.username}}</h1>
<p>Tu rol es {{user.role}}</p>