body {
  font-family: sans-serif;
}

#storesMap{
  background-color: red;
  height: 400px;
}
.navbar{
  margin-bottom: 50px;
}
img {
  width: 100%;
}
//profile plants
.plant-task {
  margin-bottom: 30px;
}
.plant-task h2 {
  font-weight: 100;
  font-size: 1.5em;
}
.plant-task ul {
  list-style: none;
  padding-left: 0;
}