$base-color: #034f50;
$light-color: #94ffb6;
body {
  font-family: "Roboto Mono", monospace;
  color: $base-color;
  position: relative;
  height: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
#storesMap {
  background-color: $light-color;
  height: 400px;
}
img {
  width: 100%;
}
main {
  padding-top: 70px;
  height: 100%;
}
section {
  padding: 50px 0;
}
//menu
.navbar {
  background: #fff;
}
img.icon-user {
  width: 23px;
  height: 26px;
}
a.nav-link {
  color: $base-color;
}
//componentes
a.btn.btn-sm.btn-dark {
  background-color: $base-color;
  color: $light-color;
  border-color: $light-color;
  border-radius: 0;
  padding: 10px;
}
hr.short-strong {
  border-top: 5px solid $light-color;
  width: 20%;
  margin: 10px 0 10px;
}
//hero section
section.hero {
  background-image: url(https://res.cloudinary.com/drapkr7kb/image/upload/v1606214183/fotos-plantas/ovgtoxqzymu3lctzm5zk.jpg);
  height: 100vh;
  background-size: cover;
  padding-top: 20%;
  text-align: center;
}
.img-hero {
  width: 300px;
  margin: 0 auto;
}
// about us section
.about-us-img {
  height: 400px;
  object-fit: cover;
}
//care section
.care-heading {
  text-align: center;
}
.short-strong.center {
  margin: 20px auto;
}
section.care {
  background-image: url(https://res.cloudinary.com/drapkr7kb/image/upload/v1606406050/fotos-plantas/bg-pattern_spvrb5.jpg);
  background-size: cover;
}
//profile plants
h3.profile {
    margin-bottom: 50px;
}
section.task {
    padding-top: 0;
}
.plant-task {
  margin-bottom: 30px;
}
.plant-task h2 {
  
  font-size: 1.5em;
}
.plant-task ul {
  list-style: none;
  padding-left: 0;
}
.plant-task strong {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #94ffb6;
}
// store details
.map-details {
  height: 400px;
  background-color: $light-color;
}

// All plants
p.intro {
    margin: 30px 0;
}
.filter-links {
  text-align: center;
}
a.btn.btn-sm.btn-inverted {
  background-color: #fff;
  color: $base-color;
  border-color: $light-color;
  border-radius: 0;
  padding: 10px;
  border: solid 2px $base-color;
}
a.btn.btn-sm.btn-inverted:hover {
  background-color: $light-color;
}
.filter-links a {
  margin: 0 30px 30px 0;
}
a.btn.btn-sm.fav {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 15px;
  border-radius: 0;
  color:$base-color;
  background-color: #94ffb663;
  padding: 10px;
  font-weight: 900;
}
a.btn.btn-sm.fav:hover {
    color: $light-color;
    background-color: $base-color;
}
a.btn.btn-sm.btn-admin.btn-block {
    margin-top: 10px;
}
// Plant details
.details strong {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #94ffb6;
}
section.plants-stores {
    background-image: url(https://res.cloudinary.com/drapkr7kb/image/upload/v1606406050/fotos-plantas/bg-pattern_spvrb5.jpg);
    background-size: cover;
}
.plants-stores .col-md-4 {
    border-right: 1px solid;
    margin-top:20px;
}
// Stores
section.stores .col-md-4 {
    border-right: 1px solid;
    margin: 30px 0;
}
.store .col-md-4 {
    margin-bottom: 20px;
}
// Login
section.login {
    height: 100vh;
}
section.signup {
    height: 100vh;
}
a.btn.btn-sm.btn-admin {
    background-color: #adb5bd;
    color: #212529;
    border-color: #94ffb600;
    border-radius: 0;
    padding: 10px;
}

// Footer

p.footer {
  background-color: $base-color;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
// Responsive
@media screen and (max-width: 780px) {
  section.hero {
    background-image: none;
    background-color: #edfff3;
    height: 400px;
    padding-top: 10%;
  
  h1 {
    font-size: 1em;
  }
}
}
