$base-color:#034f50;
$light-color:#94ffb6;
body {
  font-family: 'Roboto Mono', monospace;
  color:$base-color;
}
h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}
#storesMap{
  background-color: red;
  height: 400px;
}
img {
  width: 100%;
}
main{
  padding-top:70px;
}
//menu
.navbar{
  background: #fff;
}
img.icon-user {
  width: 23px;
  height: 26px;
}
a.nav-link {
  color:$base-color;
}
//componentes
a.btn.btn-sm.btn-dark {
  background-color: $base-color;
  color:$light-color;
  border-color:$light-color;
}
hr.short-strong {
  border-top: 5px solid $light-color;
  width: 20%;
  margin: 10px 0 10px;
}
//hero section
section.hero {
  background-image: url(https://res.cloudinary.com/drapkr7kb/image/upload/v1606214183/fotos-plantas/ovgtoxqzymu3lctzm5zk.jpg);
  height: 100vh;
  background-size: cover;
  padding-top:20%;
  text-align: center;
}
//profile plants
.plant-task {
  margin-bottom: 30px;
}
.plant-task h2 {
  font-weight: 100;
  font-size: 1.5em;
}
.plant-task ul {
  list-style: none;
  padding-left: 0;
}