<section class="all-plants">
<div class="container plants-index">
  <h2>Plantas que molan</h2>
  <hr class="short-strong">
  {{#if isAdmin}}
  <a href="/plantas/crear-planta" class="btn btn-sm btn-admin">Añadir plantas</a>
  
  {{/if}}
  <p class="intro">Trae la naturaleza al interior de tu casa y siente como mejora tu estado de ánimo. Las plantas tienen muchos beneficios para tu salud ya que purifican el aire, te conectan con la naturaleza e impulsan tu
  creatividad.</p>
  <div class="filter-links">
    <a href="/plantas" class="btn btn-sm btn-inverted">Todas las plantas</a>
    <a href="/plantas/casi-inmortal" class="btn btn-sm btn-inverted">Casi inmortal</a>
    <a href="/plantas/amigable" class="btn btn-sm btn-inverted">Pet friendly</a>
    <a href="/plantas/facil" class="btn btn-sm btn-inverted">Fácil de cuidar</a>
    <a href="/plantas/facil" class="btn btn-sm btn-inverted">Poca luz</a>
  </div>
  
 
  <div class="row">
    {{>plantsInfo this}}
  
  </div>
</div>
</section>