<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Añadir nueva planta:</h1>

            <form action="/plantas/crear-planta" method="POST" enctype="multipart/form-data">
                    <div class='form-group'>
                        <label for='name'>Nombre:</label>
                        <input name='name' type='text' class='form-control' id='name'>
                    </div>
                    <div class='form-group'>
                        <label for='scientificName'>Nombre científico:</label>
                        <input name='scientificName' type='text' class='form-control' id='scientificName'>
                    </div>
                      <div class='form-group'>
                        <label for='imageUrl'>Imagen:</label>
                        <input name='imageUrl' type='file' class='form-control' id='imageUrl'>
                    </div>
                      <div class='form-group'>
                        <label for='description'>Descripción:</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                        <div class='form-group'>
                        <label for='climate'>Clima:</label>
                        <input name='climate' type='text' class='form-control' id='climate'>
                    </div>
                      <div class='form-group'>
                        <label for='height'>Height:</label>
                        <input name='height' type='text' class='form-control' id='heigth'>
                    </div>
                      <div class="form-group">
                        <label for="water">Riego:</label>
                        <select name="water" class="form-control" id="water">
                            <option>Seleccionar</option>
                           
                            <option value="Eventualmente">Eventualmente</option>
                            <option value="Una vez cada dos semanas">Una vez cada dos semanas</option>
                            <option value="Una vez a la semana">Una vez a la semana</option>
                            <option value="Cada 2 días">Cada 2 días</option>
                            <option value="Todos los días">Todos los días</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="spray">Pulverizar:</label>
                        <select name="spray" class="form-control" id="spray">
                            <option>Seleccionar</option>
                            <option value="No pulverizar">No pulverizar</option>
                            <option value="Eventualmente">Eventualmente</option>
                            <option value="Una vez a la semana">Una vez a la semana</option>
                            <option value="Cada 2 días">Cada 2 días</option>
                            <option value="Todos los días">Todos los días</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="care">Cuidado:</label>
                        <select name="care" class="form-control" id="care">
                            <option>Seleccionar</option>
                            <option value="Casi inmortal">Casi inmortal</option>
                            <option value="Fácil de cuidar">Fácil de cuidar</option>
                            <option value="Necesita cuidados">Necesita cuidados</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ligth">Luz:</label>
                        <select name="ligth" class="form-control" id="ligth">
                            <option>Seleccionar</option>
                            <option value="Luminosidad con luz indirecta">Luminosidad con luz indirecta</option>
                            <option value="Luz indirecta">Luz indirecta</option>
                            <option value="Necesita de espacios luminosos sin incidencia directa del sol">Necesita de espacios luminosos sin incidencia directa del sol</option>
                            <option value="Espacios sombríos">Espacios sombríos</option>
                            <option value="Espacios luminosos sin sol directo">Espacios luminosos sin sol directo</option>
                            <option value="Espacios luminosos sin sol directo">Espacios poco luminosos</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Ubicación:</label>
                        <select name="location" class="form-control" id="location">
                            <option>Seleccionar</option>
                            <option value="Es una planta de interior">Es una planta de interior</option>
                            <option value="Es una planta de exterior">Es una planta de exterior</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="petFriendly">Amigable para mascotas:</label>
                        <input type="checkbox" name="petFriendly" id="petFriendly" value=false>
                    </div>


                    <button type='submit' class='btn btn-dark btn-block'>Enviar</button>
                    {{#if errorMsg}}
                    <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
                        {{errorMsg}}</p>
                    {{/if}}
                </form>

        </div>
    </div>
</div>